
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --indigo-500: #6366f1;
}

/* Custom Scrollbar for a premium feel */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #f1f5f9;
}

::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #94a3b8;
}
